<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Catalog</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>

<body>
<div class="container">
    <div class="row bg-footer">
        <div class="col-md-3 text-thick">
            <h5><strong><a href="{{ url_for('get_catalog') }}">Home</a></strong></h5>
        </div>

        {% if login_session and login_session['user_id'] %}
        <div class="col-md-9 text-right">
            <h5><strong>Welcome, {{login_session['email']}}
                (<a href="{{ url_for('gdisconnect') }}" class="text-thick" onclick="signOut();">Sign out</a>)
            </strong></h5>
        </div>

        {% else %}
        <div class="col-md-9 text-right">
            <h5><strong><a class="text-thick" href="{{ url_for('login') }}">Login</a>
            </strong></h5>
        </div>

        {% endif %}
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-md-12 text-danger">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <section>
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <div class="row">
            <div class="col-md-12 text-center bg-footer">
                <h5 class="text-muted"></h5>
            </div>
        </div>
    </footer>
</div>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>
</html>

